<div class="card-container">
  <div class="card-container__image-container">
    <img src="assets/img/main-hamburguer.jpeg" alt="" />
  </div>

  <div class="card-container__text-container">
    <div class="card-container__title">{{ cardMenuConfig.productName }}</div>

    <div class="card-container__description">
      {{ cardMenuConfig.description }}
    </div>

    <div class="card-container__price-container">
      <span class="card-container__price">
        {{ cardMenuConfig.price }}
      </span>      
    </div>


  </div>
</div>
