<div class="navbar-container">
    <div class="logo-container">
        <div class="image-container">
            <img src="../../../assets/logo/wagyu-logo.PNG" alt="wagyu">
        </div>
        <div class="title-text">
            wagyu burger's
        </div>
    </div>
    <ul class="items-container">
        <li class="item">
            <a href="https://www.facebook.com/profile.php?id=100069312506665" target="_blank" title="Facebook">
                <i class="fab fa-facebook social-media-logo"></i>
            </a>
        </li>
        <li class="item">
            <a href="" >
                <i class="fab fa-instagram social-media-logo"></i>
            </a>
        </li>
        <li class="item" title="Whatsapp">
            <a href="https://api.whatsapp.com/send/?phone=573008201530" target="_blank">
                <i class="fab fa-whatsapp social-media-logo"></i>
            </a>
        </li>
    </ul>
    
</div>
