@import "../styles/colors";
@import "../styles/typography";

.main-container {
  position: relative;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 80px;
  font-size: 50px;
}

.fa-whatsapp-square {
  color: $whatsapp-color;  
  transition: all .5s;
}

.fa-whatsapp-square:hover {
  filter: brightness(110%);
}

.desc-container {
  background: #ebebeb;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;

  &__place-title {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: $dark-gray-color;
    padding: 0 15px;
  }

  &__description {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: $dark-gray-color;
  }

  @media (max-width: 768px) {
    &__place-title {
      padding: 10px 0;
    }
  }
}

.text-menu {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: $dark-gray-color;
  margin: 20px 0;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.cards-container {
   margin: 10px 0;
}

@media (max-width: 768px) {

  .desc-container {
    flex-direction: column;
  }

  .desktop-menu {
    display: none;
  }

  .whatsapp-icon {
    right: 10px;
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
