<!-- <app-navbar class="desktop-menu"></app-navbar> -->
<!-- <app-menu-mobile class="mobile-menu"></app-menu-mobile> -->
<app-hero-navbar></app-hero-navbar>

<div class="container mt-5 mb-5">
  <div class="desc-container">
    <div class="desc-container__place-title">Popayàn</div>

    <div class="desc-container__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem iusto
      reiciendis asperiores est officiis nihil expedita suscipit placeat,
      temporibus soluta itaque tempore, unde ipsam numquam ab error nulla,
      officia ducimus!
    </div>
  </div>

  <div class="text-menu">nuestro menu</div>

  <div class="row cards-container">
    <app-card-menu *ngFor="let cardMenu of cardMenuConfig"
      [cardMenuConfig]="cardMenu"
      class="col-12 col-md-4"
    ></app-card-menu>
  </div>
</div>
