<div class="container-hero">
  <img src="../../../assets/img/main-hamburguer.jpeg" alt="" />

  <div class="menu-container container">
    <div class="title">Wagyu Burger's</div>

    <div class="desktop-menu">
      <ul class="items-container">
        <li class="item">
          <a
            href="https://www.facebook.com/profile.php?id=100069312506665"
            target="_blank"
            title="Facebook"
          >
            <i class="fab fa-facebook social-media-logo"></i>
          </a>
        </li>
        <li class="item">
          <a href="">
            <i class="fab fa-instagram social-media-logo"></i>
          </a>
        </li>
        <li class="item" title="Whatsapp">
          <a
            href="https://api.whatsapp.com/send/?phone=573008201530"
            target="_blank"
          >
            <i class="fab fa-whatsapp social-media-logo"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="item mobile-menu">
      <a href="">
        <i class="fas fa-bars social-media-logo"></i>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="information-container">
      <div class="text-title">Quienes somos?</div>
      <div class="information">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
        doloremque ipsa, adipisci deserunt temporibus perspiciatis. Qui laborum
        repellat similique quam adipisci, neque, fuga ut quidem nam iusto rem
        deserunt incidunt!
      </div>
      <a class="info-button">Ver Mas</a>
    </div>

  </div>
</div>
